@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');

body {
    background-color:#86dbb3;
    font-family: Open Sans, sans-serif;
}

.brand {
    font-family: Open Sans, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #c7ddc7;
}

/* main index image */
#mat-outer{
    height: 600px;
    width: 100%;
    position: relative;
    overflow:hidden;
    background-color:  rgba(46, 49, 49, .6);
}

#cover-text, #cover-text h2{
        color: #c7ddc7;
        }

#mat{
    height: 600px;
    width: 100%;
    background-image: url('../images/image_bk.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

#cover-text{
    font-size: 60%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width:350px;
    height:165px;
    padding: 10px;
    background-color: rgba(46, 49, 49, .6);
    top: 30px;
    right: 100px;
    position:absolute;
}

.practice {
    background-color:#c7ddc7; 
    overflow: auto;
}

.light-bg {
    background-color:#9fceb8;
}

.dark-bg {
    background-color: #353b41;
}

.main-bg {
    background-color: #e1e3e9;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #353b41;
}

.author {
    color: #c7ddc7;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #353b41;
    color:#c7ddc7;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #d4dce4;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #080808;
}

.post-link:hover,
.page-link {
    color: #73bb76;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #de99e1;
    color: #222427;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color:  #de99e1;
}

.link {
    color:  #de99e1;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color:  #de99e1;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color:  #de99e1;
    background: transparent;
    border: none;
}



