{% extends 'base.html' %} 
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="recipe-title">{{recipe.title}}</h1>
                <p class="author"> {{recipe.author}}|{{recipe.created_on}}</p>
            </div>
            <div class="d-md-block col-md-6 masthead-image">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="../static/images/image_bk.jpg" alt= "Collection of meditation stones" width="100%">
                {% else %}
                <img src="{{recipe.featured_image.url}}" alt= 'Featured image for post' width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{recipe.categories}}
                </p>
                <p class="card-text ">
                    {{recipe.content | safe}}
                </p>
                <div class="row">
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="recipe_id" value="{{ recipe.slug}}" class="btn">
                                <span> <i class="{% if liked %}fas{% else %}far{% endif %} fa-heart"></i>{{ recipe.number_of_likes }}</span>
                            </button>
                        </form>
                        {% else %}
                        <span class="btn"><i class="far fa-heart" ></i>{{ recipe.number_of_likes }}</span>
                        {% endif %}
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="btn"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{comment.name}}
                        <span class="font-weight-normal">
                            {{comment.created_on}}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% if user.is_authenticated and user.username == comment.name or user.is_superuser %}
                <a href="{% url 'edit_comment' comment.id %}" class="btn btn-signup btn-lg" aria-label="Go to the Edit Comments Page">Edit</a>
                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-signup btn-lg" aria-label="Delete Comment">Delete Comment</a>
                {% else %}
                <a  href="{% url 'account_login' %}" class="btn" aria-label="Go to the Login Page">Please login to edit or delete your comments</a>
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval. 
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}