{% extends 'base.html' %}
{% load static %}

{% block content %}

	{% if searched %}

        <div class="col-12 mt-3 left practice">
            <h1 class="card-title" >You Searched For {{ searched }}</h1>
            <p class="card-text">Results below. If no results please search again using different terms.</p>
            <br>
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.hero_image.url %}
                                <img class="card-img-top" src= "../static/images/image_bk.jpg" alt="Collection of meditation stones">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.hero_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug  %}" aria-label="Go to full post" class="post-link">
                                <h2 class="card-title">{{ recipe.header }}</h2>
                                <p class="card-text">{{ recipe.categories }}</p>
                                <p class="card-text">{{ recipe.summary }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.created_on}} <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
	{% else %}
		<h1>Hey! You Forgot To Search...</h1>
	{% endif %}

	

	
	
{% endblock %}